<div class="content-container">
    <h1>Termos de Serviço do Synapse</h1>
    <p><strong>Última atualização:</strong> 02 de Outubro de 2025</p>
  
    <h2>1. Aceitação dos Termos</h2>
    <p>Ao se cadastrar e utilizar a plataforma Synapse, você concorda em cumprir com os presentes Termos de Serviço e todas as leis e regulamentos aplicáveis. Se você não concorda com algum destes termos, está proibido de usar ou aceder a este site.</p>
  
    <h2>2. Uso da Plataforma</h2>
    <p>Você concorda em usar a plataforma apenas para fins lícitos, nomeadamente a divulgação de conhecimento e projetos científicos. É proibido publicar conteúdo que seja falso, difamatório, ofensivo ou que viole direitos de propriedade intelectual de terceiros.</p>
  
    <h2>3. Contas de Utilizador</h2>
    <p>Você é responsável por manter a confidencialidade da sua senha e conta. Você concorda em nos notificar imediatamente sobre qualquer uso não autorizado da sua conta.</p>
  </div>