<div class="form-container">
    <div class="form-card">
      <h2>Criar Conta</h2>
      <p>Junte-se à comunidade Synapse.</p>
  
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  
        <div class="form-group">
          <label for="name">Nome Completo</label>
          <input type="text" id="name" formControlName="name">
        </div>
  
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" formControlName="email">
        </div>
  
        <div class="form-group">
          <label for="password">Senha (mínimo 6 caracteres)</label>
          <input type="password" id="password" formControlName="password">
        </div>
  
        <div class="form-group">
          <label for="confirmPassword">Confirmar Senha</label>
          <input type="password" id="confirmPassword" formControlName="confirmPassword">
          <div *ngIf="registerForm.errors?.['passwordsNotMatching'] && registerForm.get('confirmPassword')?.touched" class="error-message">
            <small>As senhas não coincidem.</small>
          </div>
        </div>
  
        <div class="form-group-checkbox">
          <input type="checkbox" id="lgpdConsent" formControlName="lgpdConsent">
          <label for="lgpdConsent">
            Eu li e concordo com os 
            <a routerLink="/termos" target="_blank">Termos de Serviço</a> 
            e a 
            <a routerLink="/privacidade" target="_blank">Política de Privacidade</a>.
          </label>
          <div *ngIf="registerForm.get('lgpdConsent')?.invalid && registerForm.get('lgpdConsent')?.touched" class="error-message">
            <small>Você precisa de aceitar os termos para se cadastrar.</small>
          </div>
        </div>
  
        <button type="submit" class="submit-button" [disabled]="registerForm.invalid">
          Cadastrar
        </button>
      </form>
    </div>
  </div>
  