<div class="profile-container">
    <div *ngIf="user; else notFound">
      <div class="profile-header">
        <h1 class="user-name">{{ user.name }}</h1>
        <p class="user-profession">{{ user.profession }}</p>
      </div>
      <div class="profile-details">
        <h3>Interesses</h3>
        <div class="tags-container">
          <span *ngFor="let interest of user.interests" class="tag-pill">{{ interest }}</span>
        </div>
      </div>
    </div>
    <ng-template #notFound>
      <h2>Utilizador não encontrado.</h2>
    </ng-template>
  </div>